<h1 align="center">FACULTY</h1>
<div class="container">
    <div class="row">
    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row g-3">
            <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Name</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Designation</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Department</label>
                        <select name="" id="" class="form-control">
                            <option value="BCA">BCA</option>
                            <option value="BBA">BBA</option>
                            <option value="BCOM">BCOM</option>
                            <option value="BA">BA</option>
                            <option value="PG">PG</option>
                        </select>
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="" class="form-label">Collage</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">PHONE</label>
                        <input type="number" name="" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-6 col-xxl-6">
                        <label for="" class="form-label">Qualification</label>
                        <textarea name="" id="" cols="10" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-6 col-xxl-6">
                        <label for="" class="foem-label"></label>
                        <button class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
     </div>
   </div>
</div>
